.query {
    display: flex;
    flex-wrap: wrap;
}

#query_origin{
    justify-content: left;
}

#fromto{
    justify-content: center;
}

.query .column {
    padding: 5px;
}

.go_btn {
    width: 80px;
    min-height: 50px;
    height: 100%;
    margin-left: 10px;
    background-color: rgb(175, 209, 231);
    border-radius: 8px;
    border: 0px solid rgb(235, 235, 235);
}